@model AHCar.Models.Original.UserShopCar
@{
    ViewBag.Title = "ShowCar";
}
@section css{
    <style type="text/css">
        .mouseMove {
        }

        .ShowDelbtn:hover {
            color: #ffffff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
        .ShowUpdatebtn:hover {
            color: #ffffff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        $(function () {

            //按下移除商品時
            $('.ShowDelbtn').click(function (e) {
                var ProductID = $(this).parent().find('[name="ProductID"]').val();
                //要移除的商品節點
                var node =$(this).parent().parent();
                removeItem(ProductID,node,true);
            });
            //修改商品數量時，更新商品購買資訊
            $('.Amount').change(function (e) {
                updateItem($(this));
            });
            //儲存現有的修改
            $('.ShowUpdatebtn').click(function (e) {
                SaveItemInfo();
            });
            $('#Buy').click(function (e) {
                window.location.href = '/Shop/ShowPay';
            });

        });
        function SaveItemInfo() {
            //更新 => 先刪除舊的，再新增新的。
            var Item = {
                ProductID: '0',
                ProductName: '000',
                Price: '0',
                Amount: '0'
            };
            $('.CarBody').children().each(function (itemNode) {
                
                var PID = $(this).find('[name="ProductID"]').val();
                var PName = $(this).find('[name="ProductName"]').val();
                var Price = $(this).find('[name="Price"]').val();
                var Amount = $(this).find('.Amount').val();
                Item.ProductID = PID;
                Item.ProductName = PName;
                Item.Price = Price;
                Item.Amount = Amount;
                removeItem(PID);
                AddCar(Item);
            });
            ShowNoty();
        }
        function ShowNoty(msg) {
            var Showmsg = msg || '購物車商品，更新成功!! :) ';
            //2015.1.3 無法用animated.css做動畫效果
            //var n = noty({
            //    theme: 'defaultTheme',
            //    layout: 'center',
            //    type: 'information',
            //    closeWith: 'hover',
            //    text: 'NOTY - a jquery notification library!',
            //    animation: {
            //        open: 'animated bounceInLeft', // Animate.css class names
            //        close: 'animated bounceOutLeft' // Animate.css class names
            //    }
            //});
            //原始做法
            var n = noty({
                theme: 'defaultTheme',
                layout: 'center',
                type: 'information',
                closeWith: 'click',
                timeout: true,
                text: Showmsg,
                animation: {
                    open: { height: 'toggle' }, // jQuery animate function property object
                    close: { height: 'toggle' }, // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 500 // opening & closing animation speed
                }
            });
            //設定顯示時間
            n.setTimeout(1000);
        }
        //更新商品購買資訊
        function updateItem(node) {
            //單價
            var Price = $(node).parent().parent().find('[name="Price"]').val();
            //數量
            var Amount = $(node).val();
            //總計
            var Total = Price * Amount;
            //顯示小計
            $(node).parent().parent().find('.Total').html('$'+Total);
            $(node).parent().parent().find('[name="Total"]').val(Total);
            //加總小計
           
            var sum = 0;
            $('.CarBody').children().each(function (itemNode) {
                var t = $(this).find('[name="Total"]').val();
                sum = sum + parseInt(t,10);
            })
            $('.Sum').html('$' + sum);
        }
        //新增商品
        function AddCar(item) {
            $.ajax({
                url: "/Shop/AddCar",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                async: false,
                data: JSON.stringify(item),
                success: function (e) {
                    console.log("OK");
                },
                error: function (e) {
                    console.log("Error");
                }
            });
        }
        //移除商品 ProductID--產品代碼,node--該物件所在的Html node,removeNode--是否同時要移除該Html Node
        function removeItem(ProductID,node,removeNode) {
            var removeable = removeNode || false;
            $.ajax({
                url: "/Shop/RemoveCar",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                cache: false,
                async: false,
                data: "ProductId="+ProductID,
                success: function (e) {
                    console.log("OK");
                    console.log(e);
                    if(removeable){
                        var targetTR = $(node);
                        targetTR.remove();
                        updateCarNum();
                    }
                },
                error: function (e) {
                    console.log("Error");
                }
            });
        }
         @Html.Partial("_CarNumScriptPartial")
    </script>
}
<h2>我的購物車</h2>
<table class="table table-hover" data-toggle="table">
    <thead>
        <tr>
            <th data-field="name">商品名稱</th>
            <th data-field="price">單價</th>
            <th data-field="amount">數量</th>
            <th data-field="total">小計</th>
            <th data-field="action">動作</th>
        </tr>
    </thead>
    <tbody class="CarBody">
        @foreach (var item in Model.GetAllItems())
        {
            int Total = item.Amount * item.Price;
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td><input class="Amount" type="number" min="1" max="1000" value="@item.Amount" /></td>
                <td class="Total">$@Total</td>
                <td>
                    <button type="button" class="btn btn-default ShowDelbtn animated bounceInRight">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <input name="ProductID" type="hidden" value="@item.ProductID" />
                    <input name="ProductName" type="hidden" value="@item.ProductName" />
                    <input name="Price" type="hidden" value="@item.Price" />
                    <input name="Total" type="hidden" value="@Total"/>
                </td>
            </tr>
        }
    </tbody>
    @if (Model.GetAllItems().Count <= 0)
    {
        <tr>
            <td colspan="5" align="center">唉呀呀！購物車空空如也！要不要趁特價多買些呢？</td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="Sum">
            @if (Model.GetAllItems().Count >= 0)
            {<text>總金額</text>@Model.Total}
        </td>
        <td>
            <button type="button" class="btn btn-default ShowUpdatebtn animated shake">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                儲存
            </button>
            <button id="Buy" type="button" class="btn btn-default ShowUpdatebtn animated shake">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                結帳去
            </button>
        </td>
    </tr>
</table>
